html,body,.pure-g [class *= "pure-u"]{
  font-family:'MyriadPro'
}
.main-nav{
  position:relative;
  left:0;
  top:0;
  width:100%;
  border-bottom:1px solid black;
  border-top:1px solid black;
  background:#fff
}
.main-nav:after{
  clear:both;
  content:"\00a0";
  display:block;
  height:0;
  font:0px/0 serif;
  overflow:hidden
}
.nav-brand{
  float:left;
  margin:0
}
.nav-brand a{
  display:block;
  padding:11px 11px 11px 20px;
  color:black;
  font-size:20px;
  font-weight:bold;
  font-style:italic;
  line-height:17px;
  text-decoration:none
}
#main-menu{
  clear:both;
  border:0;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none
}
@media (min-width:768px){
  #main-menu{
    float:right;
    clear:none
  }
}
.main-menu-btn{
  float:right;
  margin:5px 10px;
  position:relative;
  display:inline-block;
  width:29px;
  height:29px;
  text-indent:29px;
  white-space:nowrap;
  overflow:hidden;
  cursor:pointer;
  -webkit-tap-highlight-color:rgba(0,0,0,0)
}
.main-menu-btn-icon,.main-menu-btn-icon:before,.main-menu-btn-icon:after{
  position:absolute;
  top:50%;
  left:2px;
  height:2px;
  width:24px;
  background:#555;
  -webkit-transition:all 0.25s;
  transition:all 0.25s
}
.main-menu-btn-icon:before{
  content:'';
  top:-7px;
  left:0
}
.main-menu-btn-icon:after{
  content:'';
  top:7px;
  left:0
}
#main-menu-state:checked~.main-menu-btn .main-menu-btn-icon{
  height:0;
  background:transparent
}
#main-menu-state:checked~.main-menu-btn .main-menu-btn-icon:before{
  top:0;
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg)
}
#main-menu-state:checked~.main-menu-btn .main-menu-btn-icon:after{
  top:0;
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg)
}
#main-menu-state{
  position:absolute;
  width:1px;
  height:1px;
  margin:-1px;
  border:0;
  padding:0;
  overflow:hidden;
  clip:rect(1px,1px,1px,1px)
}
#main-menu-state:not(:checked)~#main-menu{
  display:none
}
#main-menu-state:checked~#main-menu{
  display:block
}
@media (min-width:768px){
  .main-menu-btn{
    position:absolute;
    top:-99999px
  }
  #main-menu-state:not(:checked)~#main-menu{
    display:block
  }
}
.sm-hide{
  display:none
}
@media (min-width:768px){
  .sm-hide{
    display:block
  }
}
.footer{
  border-bottom:1px solid black;
  border-top:1px solid black;
  padding:7px 20px;
  width:100%;
  font-size:10px;
  font-style:italic
}
.main{
  margin:-1px 0 0 0;
  line-height:0
}
.no-star-container{
  width:90%;
  margin:0 auto
}
.no-star-container-img{
  width:100%;
  padding-top:139%;
  position:relative;
  overflow:hidden
}
.no-star-container-img>div{
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  z-index:-1
}
.pure-g>div{
  border-top:1px solid black;
  border-left:0.5px solid black;
  border-right:0.5px solid black;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box
}
.draggable{
  cursor:grab;
  cursor:-webkit-grab
}
html,body{
  width:100%;
  overflow-x:hidden
}
.moveground{
  position:relative;
  height:100%;
  width:100%;
  overflow:hidden
}

